<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefileshares2blobcontainers.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6dfc6ccf-a52e-40c8-bb74-cc116f56ec16/resourceGroups/Livestream-Recorder/providers/Microsoft.Web/sites/AzureFileShares2BlobContainers</ResourceId>
    <UserName>$AzureFileShares2BlobContainers</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azurefileshares2blobcontainers.scm.azurewebsites.net/</PublishUrl>
    <ApiResourceId>/subscriptions/6dfc6ccf-a52e-40c8-bb74-cc116f56ec16/resourceGroups/Livestream-Recorder/providers/Microsoft.ApiManagement/service/AzureFileShares2BlobContainers/apis/AzureFileShares2BlobContainers</ApiResourceId>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>